# Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
fraud_env/
.venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store

# VSCode settings (optional)
.vscode/

# Model files
*.pkl

# Data files (optional if large)
data/*.csv
